tbody {
    width: 100%;
    background: linear-gradient(180deg, #3d4749 0%, #121212 2%);
    tr {
        // padding: 1px;
        &:hover {
            background-color: #2a2a2a;
        }

        &.playing-selected {
            background-color: #5a5a5a;
            td{
                color: #1db956; // Green text color
            }
        }
        &.selected {
            background-color: #5a5a5a; // Only highlighted background
        }
        &.playing td{
            color: #1db956; // Only green text color
        }
        td {
            height: 25px;
            padding-left: 30px;
            padding-right: 0px;
            padding-top: 7px;
            padding-bottom: 7px;
            text-align: left;
            color: #aba5a5;
            border: none;
        }
    }
}
