tbody {
    width: 100%;
    background: #121212;
    tr {
        height: 45px;
        &:hover {
            background-color: #2a2a2a;
        }

        &.playing-selected {
            background-color: #5a5a5a;
            td {
                color: #1db956;
            }
        }
        &.selected {
            background-color: #5a5a5a;
        }
        &.playing td {
            color: #1db956;
        }
        td {
            height: 25px;
            padding-left: 30px;
            padding-right: 0px;
            padding-top: 7px;
            padding-bottom: 7px;
            text-align: left;
            color: #aba5a5;
            border: none;
        }
    }
}
