.volume-slider-container {
    // TODO icon for volume
    .volumeBar {
        --bar-width: 6vw;
        width: 6vw;
        height: 4px;
        margin: auto;
        justify-content: flex-end;
        background-color: #5e5e5e;
        margin-right: 10px;
        margin-left: 10px;
        overflow: hidden;
        /* Transparent borders for hoverable area */
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        cursor: pointer;

        &:hover {
            .volumeSlider {
                background-color: #419739;
                cursor: pointer;
            }
        }
        .volumeSlider {
            width: 100%;
            height: 4px;
            z-index: 1;
            background-color: #ffffff;
            position: relative;
            left: -6vw;
            &:hover {
                background-color: #419739;
                cursor: pointer;
            }
        }
    }
}
