.tableElementContainer {
  //Any changes to the size are bound by the div contaier inside of PlaylistMain
  // border: 4px solid #52b3a5;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  // height:678px; //table size scrolling
  // height: 100%; // page scrolling

  overflow: auto;

  .playlistTable {
    color: #aba5a5;
    //Any changes to size are going to be within the constraints of its container
    // border: 4px solid #52b35c;
    // padding-top: 0px;
    width: 100%;
    table {
      //Bound to the size of playlistTable
      width: 100%;
      // border: 4px solid #d4d765;
      border-collapse: collapse;
    }
  }
}