//Any changes to the size are bound by the div contaier inside of PlaylistMain
.tableElementContainer {
  // overflow: auto; //removing makes the header move with scrolling
  // border: 4px solid #52b3a5;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  // height:77.4vh; //table size scrolling
  // height: 100%; // page scrolling
  user-select: none;
  .playlistTable {
    color: #aba5a5;
    width: 100%;
    table {
      width: 100%;
      border-collapse: collapse;
    }
  }
}
