//TODO fix the way dropzone fills up the upload area. they are not consistent
//TODO make sure the positioning css is conistent with TableSearch.scss
.uploadArea {
    position: absolute;
    right: 9vw; //TODO the settings button will be 3 less vw than this button
    top: 1vh;
    width: 40px;
    height: 40px;
    border: black solid 2px;
    border-radius: 10px;
    background-color: #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
        background-color: #ffffff;
    }
    .dropzone {
        width: 100%;
        height: 100%;
    }
}
