.sidebar-container {
    //TODO doesn't fill up the entirety of the top page
    height: 100vh;
    background: #000000;
    .sidebar {
        border-right: 2px solid #707070;
        transition: width 0.2s ease;
        height: 100%;
        // Prevents page from loading in top half of page first then stretching to the rest of the screen
        width: 300px;
        
        &.open {
            // border: 4px solid #b73da9;
            flex-grow: 0;
            user-select: none;
            background: #000000;
            transform: translatX(0);
            max-width: 300px;
        }
        &.closed {
            width: 0px;
            transform: translateX(-100%);
            background: #000000;
        }

        .header {
            position: relative;
            padding: 22px 11px;
            background-color: #5d5d5d;
            overflow: hidden;
            & h3 {
                color: #d3d3d3;
            }
            .close-button {
                position: absolute;
                top: 10px;
                right: 20px;
                width: 10px;
                padding: 15px;
                border: solid;
                border-radius: 10px;
                background-color: #d3d3d3;
                border-color: #000000;

                &:hover {
                    cursor: pointer;
                    background-color: #a4a4a4;
                }
            }
        }
    }

    .open-button {
        display: flex;
        align-items: center;
        height: 80px;
        border: 3px solid rgb(0, 0, 0);
        background: #5d5d5d;
        z-index: 10;
        top: 13px;
        left: 30px;
        border-radius: 10px;
        position: absolute;
        cursor: pointer;
    }
}

// .resizer {
//     // actual size will be 1px but it can be selected up to 10px away
//     width: 10px;
//     top: 0;
//     right: 0;
//     cursor: col-resize;
//     height: 100%;
//     position: absolute;
//     background-color: rgb(85, 85, 85);
//     &:hover {
//         background-color: #5d5d5d;
//     }
// }
