//TODO fix edge rounding for context menu
//TODO further develop the styling on items
.context-menu {
    border-radius: 10px !important;
    .item {
        z-index: 0;
        width: 150px;
        background: #282828;
        padding: 15px;
        color: #aba5a5; 
        cursor: pointer;
        &:hover {
            background-color: #3E3E3E;
        }
    }
}


