thead {
    // border: 4px solid #3fd5ab;
    background: linear-gradient(180deg, #495659 0%, #495659 20%, #3d4749 90%);

    position: sticky;
    top: 0;
    background-color: #5a5a5a;
    border-bottom: 2px solid #707070; //ENABLE

    th {
        padding: 14px;
        padding-left: 30px;
        font-weight: bold;
        text-align: left;
        cursor: pointer;
        &:hover {
            color: #f5f3f3;
        }
    }
}
