// TODO Picture element in left corner

.songButtonElements {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
    margin-top: 5px;

    .PlayButton {
        border-radius: 50%;
    }

    .PrevButton,
    .NextButton,
    .PlayButton {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: #bababa;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #ffffff;
        }
        & img {
            display: flex;
            justify-content: left;
            align-items: center;
        }
    }
}
