//Used inside of apps
.PlaylistMain {
  // border: 4px solid #5276b3;
  min-width: 100%;
  height: 100%;
  box-sizing: content-box;
  background: linear-gradient(180deg, #b3d1d9 0px, #a2bdc4 20px, #8ca4aa 50px, #6f8388 150px, #495659 210px, #121212 230px);

  .playlistHeader {
    padding: 22px 11px;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #e3e0e0;
    }
  }

  .PlaylistTableContainer {
    // border: 4px solid #5752b3;
    bottom: 0;
    display: flex;
    justify-content: center;
  }
}
